config.ini
.config.key
__pycache__/
*.pyc
bin/
models/*.gguf
logs/
memoria/
pendientes/
procesados/
pictures/
venv/
*.html
*.bak
*.gguf
tree.txt
llama-cli-flags.md
Automatizar-emails-para-autónoma.txt
bin/
bin_win/
models/*.gguf
